  @import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

  html,
  body {
      height: 100%;
      margin: 0;
      padding: 0;
  }

  .App {
      display: flex;
      flex-direction: column;
      min-height: 100vh;
      background: linear-gradient(to bottom, royalblue, black);
      color: white;
  }

  .App-header h2 {
      text-align: right;
      font-family: 'Kaushan Script', cursive;
      font-size: 60px;

  }

  .App-header {
      margin-top: 20px;
      margin-right: 20px;
  }

  nav {
      display: flex;
      justify-content: center;
      color: white;
  }

  main {
      flex-grow: 1;
      padding-top: 150px;
  }

  .card-image {
      width: 100%;
      height: 200px;
      object-fit: contain;
  }

  .content-container {
      padding-top: 30px
  }

  h1 {
      font-size: 50px;
      font-family: 'Special Elite', cursive;
      text-decoration: underline;
  }