html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: linear-gradient(to bottom, royalblue, black);
    color: white;
}

nav {
    display: flex;
    justify-content: center;
    color: white;
}

/* 
.footer {
    height: 75px;
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    padding-bottom: 50px;
    position: sticky;
    bottom: 0;
    left: 0;
    width: 100%;
    margin-top: auto;
} */

main {
    flex-grow: 1;
    padding-top: 150px;
}